!!! 5
%html{ lang: "eng" }
  %head
    %meta{ charset: "utf-8" }
    %title= full_title(locals[:title])
    %link{ rel: "stylesheet", type: "text/css", href: "style.css" }
    %link{ rel: "stylesheet", type: "text/css", href: "css/bootstrap.min.css" }
    /[if lt IE 9]
      %script{ src: "http://html5shim.googlecode.com/svn/trunk/html5.js" }
  %body
    %header.navbar.navbar-fixed-top.navbar-inverse
      .container
        %a#logo{ href: "/" } Blather!
        %nav
          %ul.nav.pull-right
            %li
              - if logged_in?
                %a.nav-links{ href: "/signout" } Sign out
              - else
                %a.nav-links{ href: "/signin" } Sign in
    .container
      - if flash[:success]
        .alert.alert-success
          = flash[:success]
      = yield
    %script{ src: "/js/bootstrap.min.js" }